.places {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 282px);
  grid-template-rows: repeat(autofit, 1fr);
  gap: 20px 17px;
  justify-content: center;
}

@media screen and (max-width: 1015px)  {
  .places {
    grid-template-columns: repeat(2, 282px);
    grid-template-rows: repeat(autofit, 1fr);
  }
}

@media screen and (max-width: 620px)  {
  .places {
    grid-template-columns: repeat(1, 282px);
    grid-template-rows: repeat(autofit, 1fr);
  }
}